#top{
    width: 800px;
    background-color: #dcc9f4;
    padding: 20px 0;
    text-align: center;
    margin: 20px auto;
}

.top-child{
    width: 20%;
    background-color: #ffd9df;
    display: inline-block;
    margin: 0;
}

#middle{
    width: 800px;
    height: 800px;
    margin: 20px auto;
    background-color: #ffd9df;
    position: relative;
}

#middle div{
    width: 200px;
    height: 200px;
    background-color: #87ceeb;
}

#middle-child01{
    position: absolute;
    top: 100px;
    left: 100px;
}

#middle-child02{
    position: absolute;
    top: 300px;
    left: 300px;
}

#middle-child03{
    position: absolute;
    top: 500px;
    left: 500px;
}

#bottom{
    width: 800px;
    height: 300px;
    margin: auto;
    background-color:#87ceeb;
    position: relative;
}

#bottom div{
    width: 400px;
    height: 100px;
    background-color: #e5dcf0;
}

#bottom-child02{
    position:absolute;
    top: 100px;
    left: 200px;
}

#bottom-child03{
    position: absolute;
    top:200px;
    left: 400px;
}